/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.gwtAmChartMenu {
	position: relative !important;
	left: 50px !important;
	top: 10px !important;
}

#chartdiv1 {
    width : 49%;
    height : 300px;
    font-size : 11px;
    float: left;
}

#chartdiv2 {
    width : 50%;
    height : 300px;
    font-size : 11px;
    float: left;
}